# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        
      - name: NPM Install
        run: |
          cd ./app/http/web-app
          npm install
      - name: CycloneDX Node.js Generate SBOM
        uses: CycloneDX/gh-node-module-generatebom@v1.0.0
        with:
          path: ./app/http/web-app/
          output: ./bom1.xml
          
      - name:  CycloneDX Python Generate SBOM
        run: pip install cyclonedx-bom && cyclonedx-py -pip -i ./Pipfile.lock -o ./bom2.xml --format xml
      - name: base64 encode payload
        run: |
          openssl base64 -in bom1.xml -out bom3.xml
          cat bom3.xml | tr -d '\n' > bom4.xml
          echo {\"project\": \"e9b8d94e-6410-4623-86e6-48c5f3ec7916\",\"bom\": \"$(cat bom4.xml)\"} > payload.json
          cat payload.json
      - name: Upload To DepTrack
        run: |
          curl -X "PUT" "http://${{secrets.SERVER}}/api/v1/bom" --header "Content-Type: application/json"  --header "X-API-Key: ${{secrets.DEPTRACK_KEY}}" -d @./payload.json

      - name: base64 encode payload2
        run: |
          openssl base64 -in bom2.xml -out bom3.xml
          cat bom3.xml | tr -d '\n' > bom4.xml
          echo {\"project\": \"e9b8d94e-6410-4623-86e6-48c5f3ec7916\",\"bom\": \"$(cat bom4.xml)\"} > payload.json
          cat payload.json
      - name: Upload To DepTrack2
        run: |
          curl -X "PUT" "http://${{secrets.SERVER}}/api/v1/bom" --header "Content-Type: application/json"  --header "X-API-Key: ${{secrets.DEPTRACK_KEY}}" -d @./payload.json
      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: cat ./bom1.xml
      - name: Run a one-line script
        run: cat ./bom2.xml
